<header>
  <nav>
    <div class="navbar-left">
      <div class="nav-logo">
        <img src="assets/img/svg/amazon-logo.svg" alt="Amazon logo" />
      </div>
      <div class="nav-location">
        <div class="nav-location-icon">
          <img src="assets/img/svg/icon-location.svg" />
        </div>
        <div>
          <p class="nav-location-title">Deliver to</p>
          <p class="nav-location-title__bold">Brasil</p>
        </div>
      </div>
    </div>
    <app-search></app-search>
    <div class="navbar-right">
      <div class="flag">
        <img src="assets/img/png/flag-brazil.png" />
      </div>
      <div class="account">
        <p class="account-title">Hello, Sign in</p>
        <p class="account-title__bold">Account & Lists</p>
      </div>
      <div class="orders">
        <p class="orders-title">Returns</p>
        <p class="orders-title__bold">& Orders</p>
      </div>
      <div class="cart">
        <div class="cart-amount">
          <span>0</span>
          <img src="assets/img/svg/icon-shopping-cart.svg" />
        </div>
        <p>Cart</p>
      </div>
    </div>
  </nav>
</header>
