<header>
  <nav>
    <div class="navbar-left">
      <div class="nav-logo">
        <img src="assets/img/svg/amazon-logo.svg" alt="Amazon logo" />
      </div>
      <div class="nav-location-info">
        <div>
          <img src="assets/img/svg/icon-location.svg" alt="Icon location" />
        </div>
        <div>
          <p>Deliver to</p>
          <p>Brasil</p>
        </div>
      </div>
    </div>
    <app-search></app-search>
    <div class="navbar-right">
      <img src="assets/img/svg/amazon-logo.svg" alt="Amazon logo" />
    </div>
  </nav>
</header>
