.search-component {
  width: 764px;
  height: 100%;
  margin: 0 16px;
  border-radius: 4px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  &-left {
    height: 40px;

    display: flex;
    align-items: center;

    background-color: #f3f3f3;
    border-radius: 4px 0px 0px 4px;

    padding: 8px 10px;

    img {
      padding-left: 4px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-center-fill {
    width: 100%;
    height: 100%;

    input {
      width: 100%;
      height: 100%;
      padding: 6px;

      font-size: 16px;
    }

    input:focus {
      outline: none;
    }
  }

  &-right {
    height: 40px;
    display: flex;

    padding: 8px 10px;
    background-color: #febd69;
    border-radius: 0px 4px 4px 0px;

    &:hover {
      background-color: #f3a847;
      cursor: pointer;
    }
  }
}
